# Python格式化字符串的简单方法

Python有三种格式化字符串的方式：
1. %-格式化
2. str.format()
3. f-Strings，超级好用

## 1. %-格式化

In [1]:
name = "hoxis"
age = 18

In [2]:
"hello, %s. you are %s ?" %(name, age)

'hello, hoxis. you are 18 ?'

In [3]:
name = "hoxis"
age = 18
country = "China"
hair = "black"

In [4]:
"hello, %s. you are %s ?. Your country is %s, and your hair is %s" %(name, age, country,hair)

'hello, hoxis. you are 18 ?. Your country is China, and your hair is black'

## 2. str.format()
从Python 2.6引入

In [5]:
# 替换字段用大括号进行标记
"hello, {}. you are {}?".format(name,age)

'hello, hoxis. you are 18?'

In [6]:
# 可以通过索引来以其他顺序引用变量
"hello, {1}. you are {0}?".format(age,name)

'hello, hoxis. you are 18?'

In [7]:
# 使用key-value的键值对
"hello, {name}. you are {age1}?".format(age1=age,name=name)

'hello, hoxis. you are 18?'

In [8]:
# 直接从字典读取数据
person = {"name":"hoxis","age":18}
"hello, {name}. you are {age}?".format(**person)

'hello, hoxis. you are 18?'

In [9]:
# 依然会比较冗长
"hello, {}. you are {} ?. Your country is {}, and your hair is {}".format(name, age, country,hair)

'hello, hoxis. you are 18 ?. Your country is China, and your hair is black'

## 3. f-Strings
从Python3.6引入

In [10]:
# 以f字符开头，大括号直接使用变量
f"hi, {name}, are you {age}"

'hi, hoxis, are you 18'

In [11]:
# 直接在大括号里执行计算
f"{ 2 * 3 + 1}"

'7'

In [12]:
# 直接调用函数
test = lambda x : x.lower()
name = "Hoxis"
f"{test(name)} is handsome."

'hoxis is handsome.'

In [13]:
# 直接调用内置函数
f"{name.lower()} is handsome."

'hoxis is handsome.'

In [14]:
# 注意1：如果包含大括号，需要写多个
f"{{74}}"

'{74}'

### 4、实例对比-编写多行SQL语句
编写SQL：实现输入某个班级的，成绩大于某个值的学生列表

In [15]:
# 第一种方式%s
sql = """
    select 
        sid,sname
    from sgrade
    where cid=%s and grade>%d
"""% ('030613', 80)
sql

'\n    select \n        sid,sname\n    from sgrade\n    where cid=030613 and grade>80\n'

In [16]:
# 第二种方式str.format
sql = """
    select 
        sid,sname
    from sgrade
    where cid={cid} and grade>{grade}
""".format(cid='030613', grade=80)
sql

'\n    select \n        sid,sname\n    from sgrade\n    where cid=030613 and grade>80\n'

In [ ]:
# 第三种方式f-string
cid='030613'
grade=80
sql = f"""
    select 
        sid,sname
    from sgrade
    where cid={cid} and grade>{grade}
"""
sql